.button-link{
    display: inline-block; 
    margin: 0 7px;   
    font-size: 30px;
    color: black;
}

.button-link:hover{
    transform: scale(1.2);
}

.nav-bar{
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 5rem;
}

ul{
    padding: 0;
}

.logo{
    font-weight: 600;
    margin-top: 15px;
    margin-left: 10px;
    font-size: 30px;
    text-align: center;
}

.main-body{
    margin: 0 50px;
    min-height: 100vh;
}

footer{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 3rem;
}

body{
    background-color: lightblue;
    margin: 0;
    min-height: 100%;
}

.images{
    float: left;
    margin: 0 10px;
    height: 200px;
    width: 300px;
}

section{
    border-radius: 10px;
    border: solid 8px lightblue;
    padding: 0px 15px 20px 15px;
    background-color: navy;
    text-align: left;
    flex-wrap: wrap;  
    color: aliceblue;
    font-family: sans-serif;
}

section::after {
    content: "";
    clear: both;
    display: table;
}    

.profile-pic{
    float: left;
    margin-top: 15px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

.main-statement{
    line-height: 2.5;
    flex-wrap: wrap;
    text-align: center;
    font-style: italic;

}
.submit{
    border-radius: 10px;
    border: solid 8px lightblue;
    padding: 10px 15px;
    background-color: navy;
    text-align: left;
    flex-wrap: wrap;  
    color: aliceblue;
    font-family: sans-serif;
}  

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
}

.message{
    grid-column: 1/3;
}